{% extends "layout.njk" %}
{% block content %}
<main class="container flow">
    <header class="hero">
        <h1>Kaos fortnite</h1>
    </header>
    <section class="flow">
        <h1>sak</h1>
    </section>
</main>
{% endblock %}