{% extends "layout.njk" %}
{% block content %}
<main class="container flow">
    <header class="hero">
        <h1>404</h1>
    </header>
    <section class="flow">
        <h1>404</h1>
        <p>Sorry, we couldn't find that page.</p>
    </section>
</main>
{% endblock %}